body {
    background-image: url('../images/background.jpeg');
    background-size: cover;
    color: white;
    height: 100%;
}

 .nav{
    background-image: url('../images/navbackground.jpeg');
 }

